@import "./global/components.css";
@import "./global/header.css";
@import "./global/global.css";
@import "./global/footer.css";
@import "./home/introducao.css";
@import "./home/escolha.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";
@import "./home/seguros.css";
@import "./bicicletas/bicicleta.css";
@import "./bicicletas/escolha-interna.css";
@import "./bicicletas/intro-interna.css";
@import "./seguros/seguros.css";
@import "./contato/contato.css";

:root {
  --color-c12: #000000;
  --color-c11: #111111;
  --color-c10: #2e2e2e;
  --color-c09: #3f3f3f;
  --color-c08: #585858;
  --color-c07: #707070;
  --color-c06: #9a9a9a;
  --color-c05: #b3b3b3;
  --color-c04: #cbcbcb;
  --color-c03: #dddddd;
  --color-c02: #ececec;
  --color-c01: #f7f7f7;
  --color-c00: #ffffff;
  --main-color-5: #332200;
  --main-color-4: #664400;
  --main-color-3: #a66f00;
  --main-color-2: #e4a30b;
  --main-color-1: #ffbb00;
  --gradiente: linear-gradient(#ffbb00, #f2a50c);
}
