* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 2000px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
img[src$=".jpg"] {
  border-radius: 0.25rem;
}

li {
  list-style: none;
}

button {
  border: none;
}
