#seguro .seguros-desc {
  margin-top: 0px;
}

#seguro .titulo-bg {
  padding-bottom: 0px;
}

#seguro .seguros-bg {
  padding-bottom: 60px;
}

.seguros-bg {
  background: var(--color-c11)
    url(../../assets/icons/decoradores/bottom-left-s.svg) no-repeat bottom 40px
    left 40px;
}

.vantagens-bg {
  background-color: var(--color-c12);
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px;
  align-items: flex-end;
}

.perguntas {
  margin-bottom: 120px;
}

.perguntas h2 {
  margin-top: 120px;
  margin-bottom: 60px;
}

.perguntas dl:nth-child(even) {
  background-color: var(--color-c02);
}

.perguntas dl {
  position: relative;
  padding-left: 36px;
  padding-top: 20px;

  padding-bottom: 20px;
}

.perguntas dd {
  padding-bottom: 20px;
  max-width: 720px;
  margin-top: 16px;
  display: none;
}

.perguntas dd.ativa {
  display: block;
}

.perguntas button {
  width: 100%;
  text-align: left;
  cursor: pointer;
  background-color: inherit;
}

.perguntas button::before {
  content: "";
  width: 10px;
  height: 8px;
  background-color: var(--main-color-1);
  display: inline-block;
  top: 28px;
  left: 20px;
  position: absolute;
}

.perguntas button::after {
  content: "";
  background-image: url("../../assets/icons/menus/seta-menu.svg");
  width: 14px;
  height: 6px;
  display: inline-block;
  top: 28px;
  right: 20px;
  position: absolute;
  transition: 0.3s;
}

.perguntas button[aria-expanded="false"]::after {
  transform: rotate(180deg);
}

@media (max-width: 800px) {
  .vantagens-bg {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #seguro .titulo-bg h2 {
    font-size: 1rem;
  }

  .perguntas {
    margin-bottom: 60px;
  }

  .perguntas h2 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
